doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title #{i18n.message("example.title")} - Jade4j
    link(rel="stylesheet", href=springMacroRequestContext.contextPath + "/webjars/bootstrap/4.3.1/css/bootstrap.min.css", media="screen")
  body
    .container
        .pb-2.mt-4.mb-3.border-bottom
            h1 #{i18n.message("example.title")} - Jade4j
        block content
    script(src=springMacroRequestContext.contextPath + "/webjars/jquery/3.1.1/jquery.min.js")
    script(src=springMacroRequestContext.contextPath + "/webjars/bootstrap/4.3.1/js/bootstrap.min.js")
